$border-color : #FAFAFA;
$primary-color: #6eb618;
$white : #fff;
$black : #000;
$heading-font: "DrSugiyama", Helvetica, Arial, sans-serif;;
$body-font :  'Montserrat', sans-serif;
$user-name : #545454;
$social-bg: #efefef;
$text-bg : #f4f4f2;
$listing-bg : #111700;
$text-color: #6eb618;
$listing-text: #858585;
$listing-border: #576900;
$social-icon: #4A4A4A;
$menu-color: #808080;
$footer-bg: #0c0400;
$insta-bg: #1d1d15;
$btn-color : #1a1a1a;
$btn-bg:#ececec;
$footer-name-color: #acaa83;
$hover-icon: #181818;
$big-number : #1c2e06;